@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/51193cf9247fa2582dde85682d9b810a?family=Neue+Plak+W05+Condensed+Black);
@import url(https://db.onlinewebfonts.com/c/51193cf9247fa2582dde85682d9b810a?family=Neue+Plak+W05+Condensed+Light);

@font-face {
    font-family: "Neue Plak W05 Condensed Black";
    src: url("https://db.onlinewebfonts.com/t/51193cf9247fa2582dde85682d9b810a.eot");
    src: url("https://db.onlinewebfonts.com/t/51193cf9247fa2582dde85682d9b810a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/51193cf9247fa2582dde85682d9b810a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/51193cf9247fa2582dde85682d9b810a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/51193cf9247fa2582dde85682d9b810a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/51193cf9247fa2582dde85682d9b810a.svg#Neue Plak W05 Condensed Black")format("svg");
}

@font-face {
    font-family: "Neue Plak W04 Compressed Light";
    src: url("https://db.onlinewebfonts.com/t/fdfcff79f7057c85b7bac483c022477f.eot");
    src: url("https://db.onlinewebfonts.com/t/fdfcff79f7057c85b7bac483c022477f.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/fdfcff79f7057c85b7bac483c022477f.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/fdfcff79f7057c85b7bac483c022477f.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/fdfcff79f7057c85b7bac483c022477f.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/fdfcff79f7057c85b7bac483c022477f.svg#Neue Plak W04 Compressed Light")format("svg");
}

@layer utilities {
  .font-neue-plak-black {
    font-family: "Neue Plak W05 Condensed Black", sans-serif;
  }
}


.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

body {

    font-family: "Neue Plak W04 Compressed Light";
}
